.c-game {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-game-status {
  font-size: 32px;
  margin: 20px 0px;
}

.c-game-board {
  height: 450px;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}